
<div id="task1" >
    <div class="span9">

        <!-- Dropdowns
        ================================================== -->

        <section id="releaseTask1">
            <div class="page-header">
                <h1>选择任务类型</h1>
            </div>
            <div class="step_context step_context_id"></div>
<pre class="prettyprint linenums">
所有商家都要注意在天天生财刷单务必严格控制好以下3点：
物流一定要有真实物流记录，一定要有重量并且重量跟真实商品一致！一定不要网上买那些小快递的，便宜的空包；目前可以选用网站提供;的空包
刷单比例一定不要过高，最高最高不能超过40%
移动端搜索转化率务必不要过高，保持在行业平均转化率的1.5倍左右最佳
</pre>

            <div id="checkForm" class="row">
                <div class="span2">
                    <div class="divRigthsolid">
                        <h4 class="tt">第一步：选平台</h4>

                        <div id="merchantType">
                            <label class="radio">
                                <input type="radio" name="merchantType" value="1" checked>
                                淘宝/天猫
                            </label>
                            <label class="radio">
                                <input type="radio" name="merchantType" value="2">京东
                            </label>

                            <label class="radio">
                                <input type="radio" name="merchantType" value="3">
                                特殊任务
                                <p><span>• </span><span>其它平台任务</span></p>

                                <p><span>• </span><span>量大任务</span></p>

                                <p><span>• </span><span>超高单价任务</span></p>

                                <p><span>• </span><span>其它</span></p>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="span2">
                    <div class="divRigthsolid">
                        <div id="step2">
                            <h4 class="tt">第二步：选店铺</h4>

                            <div id="auditPage12"></div>
                        </div>
                    </div>
                </div>
                <div class="span2" style="width: 150px">
                    <div id="step3">
                        <div class="divRigthsolid">
                            <h4 class="tt">第三步：选终端</h4>
                            <label class="radio">
                                <input type="radio" name="platType" value="2" checked>
                                手机端
                            </label>
                            <label class="radio" id="zdjd">
                                <input type="radio" name="platType" value="1">
                                PC端
                            </label>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div id="step4">
                        <h4 class="tt">第四步：选任务</h4>

                        <h6 class="tt">常规任务:</h6>
                        <label class="radio">
                            <input type="radio" name="dfType" value="1" checked>
                            垫付任务（普通搜索、直通车)
                        </label>

                        <div id="cgjd">
                            <label class="radio">
                                <input type="radio" name="dfType" value="2">
                                浏览任务（普通搜索、直通车)
                            </label>

                            <h6 class="tt">天天生财特色垫付任务:</h6>
                            <ul class="f-cb plat-sel p-r">
                                <label class="radio">
                                    <input type="radio" name="ttplatType" value="2"> checked
                                    隔天任务
                                </label>
                                <label class="radio">
                                    <input type="radio" name="ttplatType" value="2">
                                    定制回头客任务
                                </label>
                                <label class="radio">
                                    <input type="radio" name="ttplatType" value="2">
                                    全钻号任务
                                </label>
                                <label class="radio">
                                    <input type="radio" name="ttplatType" value="2">
                                    直通车任务
                                </label>
                            </ul>

                            <h6 class="tt">快速任务:（无需浏览，快速完成）</h6>
                            <ul class="f-cb plat-sel p-r">
                                <label class="radio">
                                    <input type="radio" name="qplatType" value="2" >
                                    垫付任务（聚划算、淘抢购、淘清仓、双11、双12等
                                </label>
                                <label class="radio">
                                    <input type="radio" name="qplatType" value="2">
                                    点击任务（聚划算开团提醒，淘抢购提醒等）
                                </label>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <p>
            <button class="btn btn-warning" type="button">我要全托，点击联系我的专属客服经理</button>
            <button class="btn btn-success" type="button" onclick="next(2)">下一步</button>
        </p>

    </div>
</div>

<div id="task2">
</div>

<div id="task3">
</div>

<div id="task4">
</div>
<script language="JavaScript">


    $(document).ready(function () {

        //loads(loaderHandler.loaders.bootstrapDocs);
        application($);
                var TT_Task = TT_Task || {};

                StepTool.drawStep(1, stepListJson);

                var selectTb = function (obj) {
                    FormUtil.createRadio('auditPage12', 'auditPage12', obj.tb);
                    FormUtil.setAbles('step2,step3,step4,zdjd,cgjd', 'show');
                }

                var selectJd = function (obj) {
                    FormUtil.createRadio('auditPage12', 'auditPage12', obj.jd);
                    FormUtil.setAbles('zdjd,cgjd', 'hide');
                    FormUtil.setAbles('step2,step3,step4', 'show');
                }

                var selectSp = function() {
                    FormUtil.setAbles('step2,step3,step4', 'hide');
                }

                TT_Task.initPage = function(){
                    var type = CacheUtils.getLocalStorageData(CacheUtils.param.auditPage1.merchantType);
                    if(type){
                        var obj = CacheUtils.getLocalStorageData(CacheUtils.param.auditPage1.auditPage1_customerInfo);
                        switch (parseInt(type)) {
                            case 1 :
                                selectTb(obj);
                                break;
                            case 2 :
                                selectJd(obj);
                                break;
                            case 3 :
                                selectSp();
                                break;
                        }
                        FormUtil.initRadios4Local(CacheUtils.param.auditPage1.radioNames);
                    }else{
                        main.post(main.action.getCustomerShopInfo, {}, function (rep) {
                            CacheUtils.setLocalStorageData(CacheUtils.param.auditPage1.auditPage1_customerInfo, rep.singleResult);
                            FormUtil.createRadio('auditPage12', 'auditPage12', rep.singleResult.tb);
                        });
                    }
                }

                //TT_Task.initPage();

                $("input[name=merchantType]").on('click', function (e) {
                    var obj = CacheUtils.getLocalStorageData(CacheUtils.param.auditPage1.auditPage1_customerInfo);
                    switch (parseInt(e.target.value)) {
                        case 1 :
                            selectTb(obj);
                            break;
                        case 2 :
                            selectJd(obj);
                            break;
                        case 3 :
                            selectSp();
                            break;
                    }
                });
            });


        var savePageInfo = function(){
            CacheUtils.setLocalStorageData(FormUtil.getRadio('merchantType'), CacheUtils.param.auditPage1.merchantType);
            FormUtil.saveRadios2Local('merchantType,auditPage12,platType,dfType,ttplatType,qplatType', CacheUtils.param.auditPage1.radioNames);
        }

        var next = function () {
            var next1 = function(){savePageInfo();
                //main.toUrl();
            }

            var next2 = function(){
                main.toUrl();
            }

            var nex3 = function(){
                main.navigation.releaseTask()
            }

            savePageInfo();
            var val = FormUtil.getRadio('merchantType');
            switch (parseInt(val)) {
                case 1 : next1();
                    break;
                case 2 : next2();
                    break;
                case 3 :
                    main.navigation.releaseTask();
                    break;
            }
        }

</script>